.table {
  width: 100%;
  border: 1px solid #a3a3a3;
  border-radius: 6px;
  border-collapse: collapse;
}
.table thead {
  background-color: #e5e5e5;
}

.table th,
td {
  border: 1px solid #a3a3a3;
  padding: 0.5rem;
  text-align: left;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 20%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 20%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 20%;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 20%;
}
.table th:nth-child(5),
.table td:nth-child(5) {
  width: 20%;
}

.button {
  cursor: pointer;
  padding: 0.5rem;
}

.buttonlist button {
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  background-color: #7dd3fc;
  color: #172554;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem;
  transition: all 0.1s ease-in;
}

.buttonlist button:hover {
  border: 1px solid #172554;
  filter: brightness(80%);
}

.semcliente td {
  text-align: center;
}
